{% extends 'base.html' %}
{% block content %}

<div class="aboutus">
    <div class="image">

        <img class="w-[100vw] h-[40vw]" style="object-fit:fill"
            src="https://theedunepal.ap-south-1.linodeobjects.com/bachelorfairuploads/clients/aimscollege/facility/congratulations_bsc_csit_1jpg_20211210034900.jpg"
            alt="">
    </div>
    <div class="">

        <div class="intro mt-8 text-black text-4xl text-cyan-800 ml-16 font-bold mb-2">Introduction</div>
        <hr class="mx-16">

        <div class=" container pl-16 py-4  pr-16 mb-8">
            <p class=" text-lg  text-justify">AIMS college strongly believes that students need an ordered, structured
                environment in which discipline is seen to be firm but fair. School rules are based on courtesy, common
                sense and personal safety. The highest standards of behaviour and dress are expected and the school will
                deal firmly with students who behave unacceptably or fail to work satisfactorily.

                The following school rules are based on common sense and good practice:

                Students should be polite and courteous to staff, each other and visitors.
                Students are expected to be punctual for school and lessons.
                Full school uniform is to be worn.
                Smoking is strictly forbiddent.</p>

        </div>

    </div>
    <div class="">
        <div class="intro mt-8 text-black text-4xl ml-16  text-cyan-800  font-bold mb-2">Vision Statement</div>
        <hr class="mx-16">

        <div class=" container pl-16 py-4  pr-16 mb-8">
            <p class=" text-lg  text-justify">We are guided by "Parents in school" and "Teachers at Home" principle
                where staff, teachers, students and parents work together in a safe, caring and tolerant community to
                provide holistic environment with respect and dignity. This enables the students to achieve emotional,
                social, physical, moral and spiritual development.
                In this partnership, Kavya focuses on integrity in technology, skills and value to teamwork in
                diversified community incorporating local brains with global ideas.
                All members of the school community will model the behaviors expected from the students. In doing this,
                the school will be a centre of excellence at the forefront of education, community development and
                environment awareness.</p>

        </div>

    </div>
    <div class="">
        <div class="intro mt-8 text-black text-4xl ml-16   text-cyan-800  font-bold mb-2">Rules and Regulation</div>
        <hr class="mx-16">

        <div class=" container pl-16  pr-16 mb-8">
            <p class=" text-lg py-4  text-justify">Kavya School strongly believes that students need an ordered,
                structured
                environment in which discipline is seen to be firm but fair. School rules are based on courtesy, common
                sense and personal safety. The highest standards of behaviour and dress are expected and the school will
                deal firmly with students who behave unacceptably or fail to work satisfactorily.
            </p>

            <p class=" text-lg py-4  text-justify">
                The following school rules are based on common sense and good practice:

            </p>

            <ul  class = "text-lg px-12  "style="list-style-type: disc; ">
                <li>
                    Students should be polite and courteous to staff, each other and visitors.

                </li>
                <li>
                    Students are expected to be punctual for school and lessons.

                </li>
                <li>
                    Full school uniform is to be worn.

                </li>
                <li>
                    Smoking is strictly forbidden

                </li>
            </ul>
        </div>

    </div>

</div>
{% endblock content %}